.btn-primary {
  color: #000;
  font-size: 2.4rem;
  font-weight: 300;
  text-transform: capitalize;
  display: inline-block;
  padding: 0 1.7rem;
  @include breakpoint-down(large) {
    font-size: 2rem;
    padding: 0 1.5rem;
  }
  @include breakpoint-down(medium) {
    font-size: 1.8rem;
    padding: 0 1rem;
  }
  &:hover {
    transform: translateY(-7rem);
    box-shadow: 0 1rem 2rem rgba(#000, 0.3);
  }
  &--white {
    background-color: #fff;

    backface-visibility: hidden;
    transition: all 0.2s ease-in;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(#000, 0.3);
    }
    &:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1.5rem rgba(#000, 0.3);
    }
  }
}
.btn-secondary {
  font-size: 2rem;
  line-height: 2.1rem;
  letter-spacing: 13%;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 1rem 1.1rem;
  border: none;
  &--purple {
    background-color: #8f73ff;
  }
  @include breakpoint-down(large) {
    font-size: 1.5rem;
    line-height: 1rem;
  }
  @include breakpoint-down(medium) {
    font-size: 9px;
    line-height: 3px;
  }
}
.menu-btn {
  visibility: hidden;
  position: absolute;
  right: 14px;
  top: 10px;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  display: inline-block;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  &__line {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  &__line:nth-child(1) {
    top: 4px;
  }

  &__line:nth-child(2),
  &__line:nth-child(3) {
    top: 12px;
  }

  &__line:nth-child(4) {
    top: 20px;
  }
  &.open &__line {
    &:nth-child(1) {
      top: 8px;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 8px;
      width: 0%;
      left: 50%;
    }
  }
  @include breakpoint-down(medium) {
    visibility: visible;
  }
}
.submit-btn {
  background-color: #ff4141;
  padding: 5px 10px;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px rgba(#000, 0.4);
  }
}
